body{
    font-family: sans-serif;
    background-color: darkkhaki;
    padding: 10px;
}

#container{
    width: 960px;
    background-color: whitesmoke;
    margin: 0 auto;
    text-align: center;
    color: whitesmoke;
}

#slideshow{
    background-color: darkgrey;
    width: 500px;
    height: 600px;
    text-align: center;
    margin: 0 auto;
    color: whitesmoke;
}

p{
    padding-left: 10px;
    padding-right: 10px;
}

h1{
    text-align: center;
    color: whitesmoke;
}




